* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;} 




.container {
    width: 100%;
    height: 780px;
    background-color: rgb(0, 0, 0);
    ;
}



.speakerview {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2px;
    padding-right: 2px;
    display: flex;
    gap: 2px;
    

    height: 10vh;
    
    
}


.foto {
    color: white;
    height: 120px;
    width: 190px;
    display: flex;
    background-image: url(https://picsum.photos/190/120);
    background-repeat: no-repeat;
    
    

}
.nome  { 
    background-color: rgba(128, 128, 128, 0.6);
    height: 13%;
    position: relative;
    top: 95px;
    padding: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 15px; 
}   

.container2 {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding-top: 5px;
}


.container3 {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding-bottom: 15px;
    margin-top: 5px;
}

.menu2{
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: flex-end;
    padding-top: 2px;
    padding-right: 2px;
    display: flex;
    position: fixed;

    height: 140px;
    
    
}

footer {
    height: 10vh;
    width: 100%;
    background-color: rgb(56, 55, 55);
    
    
}
.container1 {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 15px;}




    .barrabottoni {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        background-color: #222222;
        overflow-x: hidden;
    }
    
    .bottonisinistra {
        display: flex;
    }
    
    .btn-dash {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .5rem;
        color: white;
    }
    
    .btn-dash:hover {
        background-color: #aaaaaa;
        cursor: pointer;
    }
    
    .btn-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    
    .dash-ico {
        font-size: 1.5rem;
    }
    
    .bottonicentro {
        display: flex;
    }
    
    .bottonedestra {
        display: flex;
    }
    
    .bottonedestra .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-share .dash-ico {
        color: #4BC800;
    }
    
    .btn-end {
        padding-inline: 1rem;
        color: red;
        border-radius: 0;
        background-color: gray;
    }
    